{% extends 'app/base.html' %}
{% block content %}
    {% for item in kategoria %}


        <a href="{% url 'category_show_all_content' item.id %}"
           class="button justify-content-center">{{ item.name }}<br></a>
        <hr class="divider">

    {% endfor %}

    {% for item in page_obj %}

        <a href="{% url 'ogloszenie_show_detail' item.kategoria_id item.id %}"
           class="button justify-content-center">
            <b>{{ item.nazwa_ogloszenia }}</b><br></a>
                {{ item.krotki_opis_ogloszenia }} {{ item.cena }} {{ item.author }} {{ item.data_dodania }}<br>

        <hr class="divider">

        {% if item.zdjecie %}

            <a href="{% url 'ogloszenie_show_detail' item.kategoria_id item.id %}"><img src="{{ item.zdjecie.url }}"
                                                                                        alt="Foto"
                                                                                        style="width: 150px; height: 150px;"/></a>

        {% endif %}



    {% endfor %}

    <div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?page=1">&laquo; first</a>
            <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current btn">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}