{% extends 'registration/base.html' %}
{% block content %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-centered">
                    <h1 class="mt-5 mb-3">Zaloguj się aby kontunuować</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-centered mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary">Zaloguj się</a>
                    <a href="{% url 'homepage' %}" class="btn btn-primary">Strona główna</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}