{% extends 'registration/base.html' %}
{% block content %}
    <meta http-equiv="refresh" content="2; url={% url 'homepage' %} ">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-centered">
                    <h1 class="mt-5 mb-3">Login Success!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-centered mt-3">
                    <a href="{% url 'logout' %}" class="btn btn-primary">Log out</a>
                    <a href="{% url 'homepage' %}" class="btn btn-primary">Main page</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}