{% extends "registration/base.html" %}

{% block content %}
    <div style="text-align:justify-all">
        {% load crispy_forms_tags %}

        <!--Password Reset Confirm-->
        <div class="container p-5 ">
            <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
            <hr>
            <p> Please enter your new password. </p>
            <form method="POST">

                {% csrf_token %}
                {{ form|crispy }}

                <button class="btn btn-primary button " type="submit">Reset password</button>
                <a href="{% url 'login' %}" class="btn btn-primary">Log in</a>

            </form>

        </div>

    </div>
{% endblock %}
